.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
Dockerfile
get-started/hotel_rf/
hotel_rf/
get-started/cars_mpg/
get-started/vetiver_renv.lock
cars_mpg/
get-started/pins-r/
get-started/pins-py/
