project:
  type: website
  output-dir: docs
  resources:
    - "get-started/new-cars.csv"
  render:
    - about.qmd
    - index.qmd
    - learn-more/*
    - get-started/index.qmd
    - get-started/version.qmd
    - get-started/deploy.qmd
    - get-started/monitor.qmd

website:
  title: "MLOps with vetiver"
  description: "Version, share, deploy, and monitor your R and Python models"
  open-graph: true
  twitter-card: true
  site-url: https://vetiver.posit.co
  repo-url: https://github.com/rstudio/vetiver.rstudio.com
  repo-actions: [edit, issue]
  page-navigation: true
  image: "images/vetiver-social.jpeg"
  favicon: "images/favicon.ico"
  page-footer:
    left: |
      Proudly supported by
      [![](https://www.rstudio.com/assets/img/posit-logo-fullcolor-TM.svg){fig-alt="Posit PBC" width=65px}](https://posit.co/)
    right:
      - icon: github
        href: https://github.com/rstudio/vetiver.rstudio.com
        aria-label: Vetiver site GitHub

  navbar:
    background: primary
    pinned: true
    logo: "images/logo_small.png"
    logo-alt: "vetiver - Home"
    left:
      - href: index.qmd
        text: Home
      - text: Get Started
        href: get-started/index.qmd
      - text: Learn More
        menu:
          - href: learn-more/parity-checklist.qmd
            text: "Function parity for R and python"
          - href: learn-more/model-card.qmd
            text: "Model cards for transparent, responsible reporting"
          - href: learn-more/deploy-with-docker.qmd
            text: "Deploy with Docker"
          - href: learn-more/metrics-metadata.qmd
            text: "Store model metrics as metadata"
      - href: https://rstudio.github.io/vetiver-r/reference/
        text: R Function Reference
        target: _blank
      - href: https://rstudio.github.io/vetiver-python/
        text: Python Function Reference
        target: _blank
    right:
      - href: about.qmd
        text: About

  sidebar:
    - id: get-started
      title: Get Started
      collapse-level: 2
      style: "floating"
      align: left
      contents:
        - href: get-started/index.qmd
        - href: get-started/version.qmd
        - href: get-started/deploy.qmd
        - href: get-started/monitor.qmd

    - id: learn-more
      title: Learn More
      collapse-level: 3
      align: left
      contents:
        - href: learn-more/parity-checklist.qmd
        - href: learn-more/model-card.qmd
        - href: learn-more/deploy-with-docker.qmd
        - href: learn-more/metrics-metadata.qmd

format:
  html:
    include-in-header:
      - text: |
          <!-- Google Tag Manager -->
          <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KHBDBW7');</script>
          <!-- End Google Tag Manager -->
    include-before-body:
      - text: |
          <!-- Google Tag Manager (noscript) -->
          <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHBDBW7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
          <!-- End Google Tag Manager (noscript) -->
    theme: [sandstone, custom.scss]
    css: styles.css
